*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    word-wrap: break-word;
    font-family: 'Righteous', cursive, sans-serif;
  }
  
.formulario {
    border-radius: 5px;
    background-color: #CFD2CF;
    padding: 1rem;
    margin: 10px 450px;
    color: white;
    font-weight: bold;
}

#boton{
    text-align: right;
    font-weight: bold;
}

#requerido{
    font-size: 75%;
    font-weight: normal;
    font-style: italic;
}
