*{
  font-family: 'Righteous', cursive, sans-serif;
  margin:0;
  padding: 0;
}

.titulo-novedades{
  display: grid;
  align-items: center;
  text-align: center;
  margin: 3rem;
  grid-template-columns: repeat(auto-fit,minmax(360px, 2fr));
}

.grid-novedades{
  display: grid;
  align-items: center;
  text-align: center;
  margin: 3rem;
  grid-template-columns: repeat(auto-fit,minmax(360px, 2fr));
}

.novedades{
  align-items: center;
}

body {
    display: grid;
    height: 100vh;
    grid-template-rows: auto 1fr auto;
    /* background: #F5EDDC; */
}
    
footer{
    border-radius: 5px;
    background: #CFD2CF;
    padding: 1.5rem;
    text-align: right;
}

.holster {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
}

/* quilombo */

.container {
  display: flex;
  overflow: auto;
  flex: row wrap;
}

.container.x {
  width: 80%;
  height: 250px;
  flex-flow: row nowrap;
}

.x.proximity-scroll-snapping {
  scroll-snap-type: x proximity;
}

.container > div {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
}

/* .x.container > div {
  line-height: 128px;
  font-size: 64px;
  width: flex;
  height: 128px;
} */